
.header{
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  padding-left: 50px;
}
.main{
  height: 5000px;
  background-color: beige;
  padding-top: 97px;
  padding-left: 36%;
}
.nav-item{
  display: inline-block;
  margin-left: 16px;
}
.nav-item:nth-child(1){
  color: white;
}
.nav-item:nth-child(2){
  color: white;
}
.nav-item:nth-child(3){
  color: white;
}
.square{
  width: 200px;
  height: 200px;
  background-color: mediumaquamarine;
}
.circle1{
  float: left;
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 50%;
  position: relative;
  margin-top: 80px;
  margin-left: 40px;
}
.circle2{
  float: right;
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 50%;
  position: relative;
  margin-top: 80px;
  margin-right: 40px;
}
.square1{
  background-color: brown;
  height: 60px;
  width: 40px;
  display: inline-block;
  margin-left: -40px;
  margin-bottom: -4px;
}
.square2{
  background-color: brown;
  height: 60px;
  width: 40px;
  display: inline-block;
  margin-left: 195px;
  margin-bottom: -4px;
}


