* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

section {
  margin: 32px;
}

.h1__title {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}

.paragraph {
  line-height: 28px;
}

.techology {
  font-size: 24px;
  opacity: 0.8;
  letter-spacing: 3px;
  text-decoration: underline;
}

.translation {
  font-style: italic;
  color: gray;
}

a {
  text-decoration: none;
}

