body>div{
  margin: 50px;
}
div{
  padding: 50px;
  box-sizing: border-box;
  background-color: blue;
  border: 3px solid black;
}
div>div{
  background-color: yellow;
}
div>div>div{
  background-color: green;
}
div>div>div>div{
  background-color: pink;
}
