
form{
  margin: 30px;
  display: block;
}
input, textarea{
  display: block;
  margin: 11px;
}

.languages input{
  display: inline-block;
  margin: 0 auto;
  margin-right: 3px;
}
div{
  margin: 11px;
}

