
form{
  margin: 32px;
  display: block;
}
input, textarea{
  display: block;
  margin: 12px;
}

.languages input{
  display: inline-block;
  margin: 0 auto;
  margin-right: 5px;
}
div{
  margin: 12px;
}

