.block{
height:200px;
display: inline-block;
float:left;
z-index:1;
position: static;
}
.block1{
background-color:red;
}
.block2{
background-color:green;
}
.block3{
background-color:blue;
}
.block4{
background-color:yellow;
}
.block5{
background-color:black;
}
